
@import (reference) '@enact/moonstone/styles/colors.less';

.profileDetail {

    margin-top: 1rem;
    display: flex;

    .formContent {
        padding: 1rem;
        flex-grow: 1;

        .formColumn {
            background-color: @moon-darker-gray;
            padding: 1rem;
            border-radius: 1rem;
            min-width: 17rem;

            >div {
                margin-bottom: 1.2rem;
            }

            >div:first-of-type {
                margin-top: 1rem;
            }

            >div:last-of-type {
                margin-bottom: 0;
            }

            .textField {
                >div {
                    width: 100%;
                    max-width: 17.5rem;

                    >div:last-of-type {
                        margin-left: 1rem;
                        color: #ccc;
                        background-color: #383838;
                        padding-left: 0.5rem;
                        padding-top: 0.2rem;
                        padding-bottom: 0.2rem;
                        border-radius: 0.2rem;
                        margin: 0 0.375rem;
                    }
                }
            }

            .imageField {
                .image {
                    height: 7.5rem;
                    width: 7.5rem;
                }

                >div>div {
                    align-items: flex-end;
                    display: flex;
                }
            }

            .inputField {
                .input {
                    max-width: 17rem;
                }
            }

            .actions {
                .buttonContainer {
                    >div {
                        margin-top: 1rem;
                    }

                    .buttonIcon {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}
