
@import (reference) '@enact/moonstone/styles/colors.less';

.profile {
    margin-right: 1.5rem;

    .profileFocus {
        background-color: @moon-darker-gray !important;
        transform: scale(1.1);
        border: 7px @moon-accent solid;
    }

    .profileImg {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    >div:first-of-type {
//        background-color: @moon-darker-gray;
        padding: 1rem;
    }

    .editButton {
        margin-top: 0rem;
    }
}

.profile:last-child {
    margin-right: 0rem;
}
