@import (reference) '@enact/moonstone/styles/colors.less';

.ContentGrid {
    padding-left: 0.5rem;
    height: 100%;

    .scrollerContainer {
        height: 90%;
    }

    .grid>div:not(:first-child):not(:last-child) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .iconActive {
        >div:first-of-type {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 5px;
                background-color: @moon-accent;
            }
        }
    }
}