
@import (reference) '@enact/moonstone/styles/colors.less';

.homeFeedRow {
    display: flex;
    flex-direction: column;
    
    >div {
        flex: 1 0 auto;
    }
    
    .posterFocus {
        background-color: @moon-darker-gray !important;
        transform: scale(1.1);
    }
}
